body{
	margin:0;
	padding: 0;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 10px; 	
	font-weight: 100;
	color:white;
	margin-bottom: 0;
}


.linkBar{
	display:none;
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 50px;
	background-color: black;
}

@media screen and (max-width:550px) {
	.linkBar{
		width: 100%;
		height: 95px;
		background-color: black;
	}
}

.topStuff{
	display: flex;
	justify-content: flex-start;
	width: 100%;
	height: 50px;
	// background-color: red;
}

.socialContainer{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 50px;
	// background-color: red;
	margin: 0;
}

@media screen and (max-width:550px) {
	.socialContainer{
		display: flex;
		justify-content: center;
		width: 100%;
		height: 45px;
		background-color: black;
	}
}

.instagram,.linkedIn,.github{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	// background-color: blue;
	// margin-left: 12px;	
}

.contact{
	display:flex;
	flex-direction: row;
	justify-content:flex-start;
	align-items: center;
	width: 190px;
	// background-color: red;
	height: 50px;
	margin-left: 15px;
}

@media screen and (max-width:550px) {
	.topStuff{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 50px;
	// background-color: red;
	}
}

.number{
	margin:0;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 10px;
}

.point{
	margin-left: 10px;
	margin-bottom: 0;
}

.email{
	color: white;
	margin-left:10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 10px;
	text-decoration: none;
}

.resume{
	color: white;
	margin-left:10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 10px;
	text-decoration: none;
}


.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: none;
	width: 100%;
	height: 600px;
}

.blurb{
	color: black;
	margin:0;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 45px;
	// letter-spacing: .05px;
}

.title{
	margin-top: 3px;
	margin-bottom: 0px;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 25px;
	// letter-spacing: .01px;

}

.buildSomething{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 15px;
	margin-top: 5px;
	color: black;

}

header{
	background-image: url("../images/webMe.jpg");
	// background-attachment: fixed;
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	height: 710px;
	// border-bottom: 1px solid black;
}

section{
	width: 100%;
	height: 450px;
	background-color: black;
}
@media screen and (max-width:550px) {
	section{
		width: 100%;
		height: 900px;
		background-color: black;
	}
}

.about{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 400px;
	background-color: black;
	margin-top: 25px;
	margin-bottom: 25px;	
}



.me, .workSec{
	margin:0;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 15px;}

/*Work Section*/

.work{
	display: flex;
	width: 100%;
	height: 600px;
	background-color: grey;
}

.web, .artDirection, .design{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 250px;
	margin-top: 50px;
	margin-bottom: 50px;
	// background-color: rgba(0, 0, 0, 0.1);
}

.webFont,.artFont,.designFont{
	color: black;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 12px;
	margin: 0;
}

/*end of work section*/


/*Other stuff section*/

.otherStuff{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 300px;
	margin-bottom: 50px;
	background-color: grey;
}


footer{
	background-color: black;
	width: 100%;
	height: 50px;
}

.homeBtn{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 10px;
	text-decoration: none;
	margin-bottom: 0;
}

.footerStuffs{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: black;
}
.footerText{
	font-family: 'Roboto', sans-serif;
	font-size: 10px; 	
	font-weight: 100;
	color:white;
	margin-bottom: 0;
}

/*web stuff*/

.blacksiteDescrip{
	width: 100%;
	height: 100px;
	background-color: grey;
	margin-top: 85px;
}

@media screen and (max-width:550px) {
	.blacksiteDescrip{
		width: 100%;
		height: 900px;
		width: 100%;
		height: 100px;
		background-color: grey;
		margin-top: 140px;
	}
}

.webContain{
	width: 100%;
	height: 300px;
	background-color: grey;
	margin-top: 85px;
}

@media screen and (max-width:550px) {
	.webContain{
	width: 100%;
	height: 300px;
	background-color: grey;
	margin-top: 20px;
	}
}



/*ad stuff*/

.logoOne{
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	// background-color: white;
}


@media screen and (max-width:550px) {
	.logoOne{
	margin-top: 125px;
	}
}

.logoTwo{
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	// background-color: black;
}

@media screen and (max-width:550px) {
	.logoTwo{
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	// background-color: black;
	}
}

.logoThree{
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	// background-color: black;
}

.logoFour{
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	// background-color: black;
}

/*design stuff*/



.keyArt1{
	background-image: url("../images/posters/all-is-lost.jpg");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top: 100px;
	width: 100%;
	height: 300px;
	// background-color: grey;
}

@media screen and (max-width:550px) {
	.keyArt1{
	background-image: url("../images/posters/all-is-lost.jpg");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top: 150px;
	width: 100%;
	height: 300px;
	// background-color: grey;
	}
}

.keyArt2{
	background-image: url("../images/posters/thin-red-line.jpg");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top: 100px;
	width: 100%;
	height: 300px;
	// background-color: grey;
}

@media screen and (max-width:550px) {
	.keyArt2{
	background-image: url("../images/posters/thin-red-line.jpg");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top: 50px;
	width: 100%;
	height: 300px;
	// background-color: grey;
	}
}

.keyArt3{
	background-image: url("../images/posters/mad-men.jpg");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top: 100px;
	width: 100%;
	height: 300px;
	// background-color: grey;
}

@media screen and (max-width:550px) {
	.keyArt3{
	background-image: url("../images/posters/mad-men.jpg");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top: 50px;
	width: 100%;
	height: 300px;
	// background-color: grey;
	}
}

.keyArt4{
	background-image: url("../images/posters/layer-cake.jpg");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top: 50px;
	width: 100%;
	height: 300px;
	// background-color: grey;
}

.keyArt5{
	background-image: url("../images/posters/american-psycho.jpg");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top: 50px;
	width: 100%;
	height: 300px;
	// background-color: grey;
}

.keyArt6{
	background-image: url("../images/posters/friday-the-13th.jpg");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top: 50px;
	width: 100%;
	height: 300px;
	// background-color: grey;
}

.keyArt7{
	background-image: url("../images/posters/the-leftovers.jpg");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top: 50px;
	width: 100%;
	height: 320px;
	// background-color: grey;
}

.keyArt8{
	background-image: url("../images/posters/collateral.jpg");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top: 50px;
	width: 100%;
	height: 320px;
	// background-color: grey;
}

.keyArt9{
	background-image: url("../images/posters/heat.jpg");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top: 50px;
	width: 100%;
	height: 400px;
	// background-color: grey;
}

.logo1{
	background-image: url("../images/logos/decibel.jpg");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top: 50px;
	width: 100%;
	height: 286px;
	// margin-left: 20px;
	// background-color: grey;
}

.logo2{
	background-image: url("../images/logos/milk.jpg");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top: 50px;
	width: 100%;
	height: 286px;
	// margin-left: 20px;
	// background-color: grey;
}

.logo3{
	background-image: url("../images/logos/transistor.jpg");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top: 50px;
	width: 100%;
	height: 286px;
	// margin-left: -20px;
	// background-color: grey;
}

.transistor{
	background-image: url("../images/logos/transistor-poster.jpg");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top: 50px;
	width: 100%;
	height: 286px;
	// margin-left: -20px;
	// background-color: grey;
}
















